@import '../vars';

.button {
  min-width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  border: 2px solid $blue-jeans;
  background: $white;
  color: $blue-jeans;
  transition: all 0.3s;

  &:hover {
    background: $blue-jeans;
    color: $white;
    border: 2px solid $white;
    cursor: pointer;
  }
}
