@import '../vars';
@import '../mixins';

.footer {
  @include base-wrapper;
  background: $blue-jeans;
  color: $white;
  &__list {
    display: flex;
    flex-direction: raw;
    justify-content: space-evenly;
    padding: 0.57em;
  }
  &__svg {
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
}
